.descriptionContainer {
  border-radius: 15px;
  background-color: var(--white);
  padding: 15px;
}

.descriptionContainer > p {
  margin-bottom: 8px;
}

.itemDetailAction {
  background-color: var(--white);
  border-radius: 15px;
  width: 100%;
}

.itemImage {
  align-self: center;
  justify-self: center;
  display: block;
  height: auto;
  margin-bottom: 10px;
  width: 350px;
}

.actions {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}

.buttonCart {
  background-color: var(--background-green);
  border: 0;
  cursor: pointer;
  height: 35px;
  padding: 5px 35px;
  margin-bottom: 25px;
}

.errorMsg {
  color: red;
  font-size: 12px;
}

@media (max-width: 640px) {
  .descriptionContainer > h3 {
    font-size: 26px;
  }

  .actions {
    flex-direction: column;
  }

  .buttonCart {
    font-size: 24px;
    width: 100%;
    height: 55px;
  }

  .errorMsg {
    font-size: 16px;
  }
}
