body {
  background-color: #a7d1a2;
  font-family: "Montserrat", sans-serif;
}

.layoutContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.main {
  display: block;
  height: 100%;
  padding: 100px 10em;
}

@media (max-width: 640px) {
  .main {
    width: 100%;
    padding: 120px 0;
  }
}
