.itemContainer {
  background-color: #fff;
  border-radius: 15px;
  height: 300px;
  flex: 1 0 21%;
  max-width: 175px;
  margin-right: 40px;
  margin-bottom: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.itemImage {
  align-self: center;
  justify-self: center;
  display: block;
  max-width: 255px;
  height: 200px;
  margin-bottom: 10px;
  width: auto;
}

.infoContainer {
  padding: 0 20px;
}

.itemBrand {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0px;
}

.itemModel {
  font-size: 12px;
  margin-bottom: 20px;
}

.itemPrice {
  font-size: 26px;
  font-weight: 100;
}

.itemBuy {
  display: flex;
  justify-content: space-between;
}

.buyButton {
  background-color: #a7d1a2;
  border-radius: 50%;
  border: none;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

.buyIcon {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 15px;
  width: 20px;
}

@media (max-width: 640px) {
  .itemContainer {
    height: 360px;
    max-width: none;
    padding: 20px 0;
    width: 80%;
    margin-right: 0;
  }

  .itemBrand {
    font-size: 28px;
  }

  .itemModel {
    font-size: 20px;
  }

  .itemPrice {
    font-size: 34px;
  }

  .buyButton {
    width: 45px;
  }

  .buyIcon {
    height: 45px;
    width: 60px;
  }
}
