.descriptionContainer {
  border-radius: 15px;
  background-color: #fff;
  padding: 15px;
}

.descriptionContainer > p {
  margin-bottom: 8px;
}

.itemDetailAction {
  background-color: #fff;
  border-radius: 15px;
  width: 100%;
}

.itemImage {
  align-self: center;
  justify-self: center;
  display: block;
  height: auto;
  margin-bottom: 10px;
  width: 350px;
}

.rowText {
  display: flex;
}

.rowText > b {
  margin-right: 5px;
}
.rowText > p {
  margin-left: 5px;
}

@media (max-width: 640px) {
  .descriptionContainer > h3 {
    font-size: 26px;
  }

  .rowText {
    font-size: 20px;
  }
}
