.shoppingContainer {
  border-left: 3px solid var(--black);
  height: 100%;
  padding: 10px 20px;
  position: relative;
}

.cartIcon {
  height: 40px;
  width: 40px;
}

.cartNumber {
  align-items: center;
  background-color: var(--background-green);
  border-radius: 50%;
  bottom: 5px;
  color: var(--black);
  display: flex;
  font-size: 15px;
  font-weight: 700;
  height: 23px;
  justify-content: center;
  right: 15px;
  margin: 0;
  position: absolute;
  width: 23px;
}
