.itemDetailContainer {
  display: flex;
  margin-top: 60px;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.itemDetailImage {
  border-radius: 15px;
  background-color: var(--white);
  padding: 15px;
}

.itemDetailAction {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.itemImage {
  align-self: center;
  justify-self: center;
  display: block;
  height: auto;
  margin-bottom: 10px;
  width: 350px;
}

.backIcon {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 15px;
  width: 20px;
}

.backIconContainer {
  padding-top: 30px;
  width: 100%;
}

@media (max-width: 640px) {
  .itemDetailContainer {
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
  }

  .itemImage {
    height: 400px;
    width: 100%;
  }

  .backIcon {
    height: 35px;
    width: 40px;
  }

  .container {
    padding: 0 20px;
  }
}
